<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>наконец-то регистр</title>
</head>

<body>
<div align="center">
    <h1>Регистрация:</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>Имя</label>
        <input type="text" th:field="*{name}"/> <br/>
        <label>Фамилия</label>
        <input type="text" th:field="*{email}"/> <br/>
        <label>Пароль</label>
        <input type="password" th:field="*{password}"/><br/>
        <label>Дата рождения (yyyy-mm-dd)</label>
        <input type="text" th:field="*{birthday}"/><br/>

        <label>Гендер</label>
        <input type="radio" th:field="*{gender}" value="Male"/>Male
        <input type="radio" th:field="*{gender}" value="Female"/>Female <br/>

        <label>Профессия</label>
        <select th:field="*{job}">
            <option th:each="p : ${jobList}" th:value="${p}" th:text="${p} + '!!'"/>
        </select></br>

        <label>женат???????</label>
        <input type="checkbox" th:field="*{married}"/><br/>

        <label>дополнительно расскажи о себе</label>
        <textarea cols="20" rows="5" th:field="*{note}"></textarea></br>

        <button type="submit">Регистрация</button>
    </form>
</div>
</body>
</html>