<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>наконец-то регистр</title>
</head>
<body>
<div align="center">
    <h1>Регистрация:</h1>
    <font size="6">
    <form action="#" th:action="@{/register}" method="post" th:object="${cadet}">
        <label>Имя</label>
        <input type="text" th:field="*{name}"/> <br/>
        <label>Фамилия</label>
        <input type="text" th:field="*{surname}"/> <br/>
        <label>Группа</label>
        <input type="text" th:field="*{studyGroup}"/> <br/>
        <label>Роль</label>
        <select th:field="*{role}">
            <option th:each="p : ${roleList}" th:value="${p}" th:text="${p} + ''"></option>
        </select><br/>
        <button type="submit">Регистрация</button>
    </form>
    </font>
</div>
</body>
</html>