<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>е рок успешно 2012</title>
</head>
<body>
<font size="6">
<div align="center">
    <h3>Регистрация успешна</h3>
    <span>имя:</span> <pan th:text="${cadet.name}"></pan></br>
    <span>фамилия:</span> <span th:text="${cadet.surname}"></span></br>
    <span>группа:</span> <span th:text="${cadet.studyGroup}"></span></br>
    <span>роль:</span> <span th:text="${cadet.role}"></span></br>
</div>
</font>
</body>
</html>